 /*  feuille de style version 2 du site inscription en ligne  	*/
 /*  Auteur Philippe SIMIER  décembre 2008               		*/
 /*  											               	*/
 
 

 /* Definition du corps de la page fond vert clair                   */

body {
/*    background-image: url(/Gestion_Inscriptions/images/fond.gif);   */
/*    Background-Color: #9F9; */
/*    margin: 8px;   */
}


/* page centrée largeur 1024  fond blanc*/
#page {
        Background-Color: #FFF;
        margin: 0 auto;
        padding: 0;
		width: 1098px;
        border-color:#323232 #323232 #323232;
        border-style:solid;
        border-width:1px 1px 1px;
		text-align: left;
 }

/* la div id contenu  */
#contenu {
    margin-top: 5px;
    min-height: 400px;
 }

#pied {

	background:#000000 none repeat scroll 0 0;
	border-top:1px dotted #CCCCCC;
	clear:both;
	color: #FFFFFF;
	margin-top:1em;
	padding:20px;
	text-align:center;
}

#pied small {
	color:#FFFFFF;
	font-size:12px;
}

#pied a {
	color:#FFFFFF;
}

table.inscription td{
	text-align: right;
	
}


table.menu   { position: absolute; left: 500px ; top: 100px }
td.selection { color: #FF6600; background-color: #000066 }



/* couleur orange pour les mots clÃ©s */
span.colore  { color: #FF8040 }

/* couleur verte gras */
span.vert {
   color: #00FF00;
   font-weight: bold;
   font-size: 13pt;
   }



/* Definition de la classe paragraphe pour les notes de bas de page */
p.note       {
font-family: Gill Sans MT;
font-size: 10pt;
color: #FFFFFF;
text-align:center
}

/* Definition de la classe paragraphe pour les infos bulles */
p.info      {
font-family: "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
font-size: 10pt;
color: #000;
margin-left: 10px;
}



/* Definition des cellules de tableaux  couleur blanc */

tr, td, th
{
Color: #000000 ;
font-family:"Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
font-size: 10pt;
font-style: normal;
Text-Align: left;
}

ul{
	padding-left: 0px;
}	

div.item {
        font-family:"Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
        font-size:12pt;
        color: #000000;
        border-radius: .3rem;
        background-color:#F0F0F0;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: 10px;
        margin-bottom: 10px;
}

div.item img {
       padding-left: 45px;

}

tr.menu {
                   height: 28px;
                   border: none
        }
td.menu {
                   padding-left: 0;
                   padding-right: 0;
                         padding-top: 0;
                         padding-bottom: 0;
                         border: none;
                         width: 190px
                         }
td.bandeau {
                         padding-left: 0;
                         padding-right: 0;
                         padding-top: 0;
                         padding-bottom: 0;
                         border: none;
                         }
div.date  {
                        float: right;
                        font-size: 11px;
                        color: #808080;

        }

/***********************************************/
/* style pour les formulaires rechercher       */
/* bouton en forme de loupe pour rechercher    */
/***********************************************/

form.chercher {
    display: inline;
    background-color:#E0E0E0;
    border: 1px solid #A0A0A0;;
    padding: 2px;
    margin: 1px;
    }

form.chercher input.bouton {
     background-image: url(../images/loupe.png);
     background-color:#D0D0D0;
     color: #909090;
     border: 0px solid #ECE9D8;
     padding: 0px;

     width: 20px;
     cursor: pointer;
     }

form.chercher input {
     background-color:#E0E0E0;
     color: #404040;
     font-size: 14px;
     border: 0px solid #ECE9D8;
     padding: 0px;
     padding-left: 5px;
     height: 18px;
     width: 110px;
     cursor: text;
     }

div#auth {
    background-color:#E0E0E0;
    padding:10px;
    max-width: 400px;
	margin: 0 auto;
		 
}

.focus { /***pour les formulaires à l'utilisation fond bleu clair***/
	background: #90E1FF;
	border:1px solid #999999;
	border-radius: 5px;
	color: black;
	
	
}
.normal {	/***pour les formulaires retour à l'état normal après l'utilisation ***/
	background: white;
	border:1px solid #999999;
	border-radius: 5px;
	color: black;
	

}
.erreur { /***champ formulaire en erreur***/
	background:red;
}

table#tableau {
        clear: both;
        width: 99%;
        margin-left:5px;
        border-collapse: collapse;
        border-top: 5px solid #D0D0D0;
        border-bottom: 5px solid #D0D0D0;
        border-left:1px solid #D0D0D0;
        border-right:1px solid #D0D0D0;
 }
table#tableau td {
        border-top: 1px solid #D0F0F0;
        padding: 4px;

 }

tr.impaire {
         background-color: #F0F0F0;
}

table#tableau th {
        background-color: #D0D0D0;
        color: #000000;
        padding: 4px;

 }
 .contenuArticle, .pageContent, .extraitArticle {
    background-color: transparent !important;
    color: #666666 !important;
    font-family: "verdana";
    font-size: 12px;
    padding: 10px;
    text-align: justify;
}

div#rechercher {
	float:left;
	width: 155px;
}
		
	#rechercher	form {
		  background-color:#D0D0D0;
		  border: 1px solid #999998;
		  height: 28px;
		}

	#rechercher	form input {
			 background-color:#D0D0D0;
			 color: #000;
			 font-size: 18px;
			 border: 0px solid #ECE9D8;
			 padding: 0px;
			 padding-left: 5px;
			 height: 25px;
			 width: 117px;
			 cursor: text;
		}

	#rechercher	.bouton {
			 background-image: url(images/loupe.png);
			 background-color:#D0D0D0;
			 color: #D0D0D0;
			 border: 0px solid #ECE9D8;
			 padding: 0px;
			 height: 23px;
			 width: 24px;
			 cursor: pointer;
		}